<%- include("./partials/header") -%>
<style>
    *{
        padding : 0px;
        margin: 0px;
    }
</style>
<h3>About</h3>
<p> This project was desinged by three students of <strong> IIIT Sonepat </strong> during their 3rd semester project of his B-Tech program.
  project was specially designed for travellers so that travellers can enjoy his journey.
  project is very useful for those who loves travelling.
  <br> Developed by <strong>Gavnish kumar</strong> and <strong>Nitin kumar</strong> and data collection and file creation done by <strong>Jatin saini .</strong>
   </p>
 <div class="about-section">
    <div class="box-1">
<h2>Gavnish Kumar</h2><hr>
<img src="images/gavnish.jpg" alt="" srcset="">
        <h2>Profession:</h2>
            <p><i>Web developer, programmer</i></p>
            <p><i>IIIT Sonepat 2<sup>nd</sup> year B-Tech ,Information Technology  </i></p>
    </div>
    <div class="box-1">
<h2>Nitin kumar</h2><hr>
<img src="" alt="">
    </div>
    <div class="box-1">
<h2>Jatin Saini</h2><hr>
<img src="" alt="">
    </div>
 </div>

<%- include("./partials/footer") -%>